
/*цвет основного текста #212121*/
/*цвет вторичного текста #757575*/
/* специальный цвет #FFFFFF*/
/*акцент #2196F3*/
/*фон херо и футер #2F303A */
/*фон хедер*/

:root{--prymary-text-color: #212121;
--secondary-text-color: #757575;
--akcent-text-color: #2196F3;
--main: #ffffff;
--bgc-secondary: #2F303A;--portfolio-button-bgc: #F5F4FA;}

    

body { background-color: var(--bgc-main);
    color: var(--prymary-text-color);
    font-family: 'Roboto';
}

.list {
    list-style: none; text-decoration:none;
}

/* ------------------------------------------------------Header------------------------------------------------*/

.logo {color: var(--prymary-text-color);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1,19;
    letter-spacing: 0.03em;
    text-decoration:none;
}
.logo>span { 
    color: var(--akcent-text-color);
}
.site-nav a {
    color: var(--prymary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    text-decoration:none;
}
.site-contacts a {color: var(--secondary-text-color);
    text-decoration:none;

}

.site-nav a:hover,
.site-nav a:focus {
    color: var(--akcent-text-color);
}
.site-contacts a:hover,
.site-contacts a:focus {
    color: var(--akcent-text-color);
}
.link.current {
    color: var(--akcent-text-color);}

/* -------------------------------- hero main------------------------------------- */

.hero {
    color: var(--main);
    background-color: var(--bgc-secondary);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;;
}
.button {
    color: var(--main);
    background-color: var(--akcent-text-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;}

/* -----------------------------section-------------------------------- */
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.section {
    color: var(--prymary-text-color);}

.section .text {
    
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);}

.section-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.67;
    text-align: center;
    letter-spacing: 0.03em;}

.title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;}

.text-team {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    
}

/*---------------------------------footer------------------------------- */
footer {
    background-color: var(--bgc-secondary);}

.address > p {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main);}

address a {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);}

footer .logo {
    color: var(--main);}

.list .mail:hover,
.list .phone:hover{
    color:#2196F3;
}

    /* ----------------portfolio-------------------- */
/* ---------------------------------------buttons------------------------------- */
.button-portfolio {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--prymary-text-color);
    background-color: var(--portfolio-button-bgc);
    cursor: pointer;
}

.button-portfolio:hover, .button-portfolio:focus {
    background-color: var(--akcent-text-color);
    color: var(--main);}

/* -----------------------------section наши работы---------------------- */

.title-portfolio{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--prymary-text-color)
}

.item-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}